.header_container {
    display: flex;
    justify-content: space-between;
    background-color: #A11619;
    padding-right: 15%;
}

.logo{
    display: flex;
    height: 20vh;
}

.list{
    display: flex;
    align-items: center;
}

.item{
    list-style: none;
    font-size: 1.5em;
    padding: 10px 20px;
}

.my_flight{
    list-style: none;
    font-size: 1.5em;
    background-color: #093C75;
    padding: 10px 20px;
}

.item a{
    color: white;
    text-decoration: none;
}

.my_flight a{
    text-decoration: none;
    color: white;
}

.item a:hover{
    color: #781112;
    transition: 0.5s;
}

.my_flight a:hover{
    color: #781112;
    transition: 0.5s;
}