.div_container{
    width: 100vw;
}

.card_container{
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}
.text{
    font-size: 1.2em;
}
.text h1{
    color: #093C75;
    padding: 50px;
}
.text p{
    width: 90%;
    padding: 3px;
    margin: auto;
}
.text span{
    font-weight: 800;
}
.select_container{
    display: flex;
    width: 90%;
    margin: auto;
    padding-bottom: 30px;
}
.select_container p{
    width: auto;
    margin: 0;
}